#houses {
    justify-content:space-around;
}

.house {
    position:relative;
    max-width:100%;
}

.house h3 {
    text-align: center;
    width:100%;
    padding:10px 0;
    color:#295095;
    background:rgba(255,255,255,0.9);
    z-index:2;
    position:absolute;
    bottom:0;
    margin:0;
    border-radius:0 0 5px 5px;
}

.house img {
    border-radius:5px;
    display:block;
}

#details-previews {
    border-radius:5px;
}

/* Larger Screens */
@media only screen and (min-width: 768px) {

    .house {
        max-width:95%;
    }

    .house-details {
        padding-left:10px;
    }

    .house-details strong {
        color:#295095;
    }
}