.slideshow {
    position:relative;
}

.arrow {
    color:#B7DFDB;
    text-decoration: none;
    position:absolute;
    top:0%;
    font-size:6em;
}

#next-arrow {
    right:5%;
}

#prev-arrow {
    left:5%;
}

/* Larger Screens */
@media only screen and (min-width: 768px) {

    .arrow {
        top:35%;
    }

}